* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

html{
    background-color: antiquewhite;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none; 
}

body {
    position: relative;
    overflow-x: hidden;
}
/* ------------------------------------------------- Navbar ------------------------------------------------- */
nav {
    width: fit-content;
    background-color: rgba(128, 128, 128, 0.947);
    backdrop-filter: blur(28px) saturate(67%);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, 
    rgba(240, 46, 170, 0.05) 25px 25px;
    padding-right: 0px;
    padding-top: 35px;
    height: calc(100vh - 35px);
    position: fixed;
    display:flex;
    justify-content: center;
    transition: 1s ease-in-out;  
}

nav:hover {
    width: 400px;
    transition: 1s ease-in-out;
    background-color: rgba(128, 128, 128, 0.746);
}

/*? ---------------------------- Logo ---------------------------- */
.logo{
    width: 100%;
}

.nes { 
    margin-bottom: 20vh;
    width: auto;
    height: 13vh;
}
.nes .body-o{
    fill:#e0e0e0
}
.nes .body3D-s{
    fill:#f0f0f0

}
.nes .body3D-o{
    fill:#c0c0c0
}
.nes .body-in{
    fill:#000000
}
.nes .select-start-o{
    fill:#e0e0e0
}
.nes .select-start{
    fill:#000000
}
.nes .ba-o{
    fill:#e0e0e0
}
.nes .ba{
    fill:#ff0000
}
.nes .kreuz{
    fill:#000000;
    stroke:#e0e0e0;
    stroke-width: 0.5px;
}
.nes .kabel{
    fill:#000000
}
.nes .streifen{
    fill:#808080
}

/*? ---------------------------- Links ---------------------------- */
.link-wrapper{
    padding-left: 35px;
}

.link{
    
    margin-bottom: 15px;
}
.icon {
    font-size: 2em;
}
nav:hover .link1::after {
    content: 'Seite 1';
  }
nav:hover .link2::after {
    content: 'Seite 2';
  }
nav:hover .linkquelle::after {
    content: 'Quellenregister';
  }

/* ------------------------------------------------- Picture ------------------------------------------------- */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 81.5%;
}

figcaption {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: -18px;
    text-shadow: 2px 2px #000000;
}

/* ------------------------------------------------- Content ------------------------------------------------- */
.content {
    margin-top: 20vh;
    margin-left: 40vh;
    margin-right: 40vh;
}     

h1 {
    text-align: center;
    margin-bottom: 5vh;
    font-family: Orbitron,sans-serif;
    background: -webkit-linear-gradient(#f64904, #ffd501);
    -webkit-background-clip: text; /* -webkit: kompatibilität */
    -webkit-text-fill-color: transparent;
}